body {
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #040304;
    padding: .5rem;
  }

  .title{
    align-items: center;
  }
  .header{
    height: 15vh;
    background-color: red;
  }

  .links{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .text{
    color: #00FF00;
  }

  .sidebar {
    background-color: green;
    width: 15vw;
  }

  .button{
    align-self: center;
  }

  .content{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }